@import "./share/auth-form.css";

#scroll-tip {
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
    color: gray;
}

footer {
    position: absolute;
    bottom: 0;
    left: 1%;
    right: 1%;
    font-size: 0.7rem;
}
