*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: "DM Serif Text", serif;
    background-color: rgba(230, 238, 249, 0.5);
    font-size: 0.85rem;
}

.container {
    padding: 1rem;
}

input[type="radio"] {
    display: none;
}

footer {
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 4rem;
}

#username {
    color: var(--sec-clr);
    font-size: 1rem;
}

#gas-price,
#delivery-fee {
    font-size: 1rem;
    font-weight: 700;
    box-shadow: var(--shadow);
    width: 10ch;
    border-radius: 15%;
}

#quick-info {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
#quick-info > div {
    margin: 2rem 0;
    box-shadow: var(--shadow);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#greeting {
    text-align: center;
}

#options {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
    padding: 1rem;
}
#options small {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 700px) {
    body {
        font-size: 1rem;
    }
    .tabs {
        transform: scale(1);
    }
}
