*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: "DM Serif Text", serif;
    background-color: rgba(230, 238, 249, 0.5);
    font-size: 0.85rem;
}

.container {
    padding: 1rem;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 0.75rem;
    border-radius: 99px;
    transform: scale(0.5);
}
.tabs * {
    z-index: 2;
}

input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: 0.15s ease-in;
}

input[type="radio"]:checked + label {
    color: var(--primary-color);
}
input[type="radio"]:checked + label > .notification {
    background-color: var(--primary-color);
    color: #fff;
}

input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
}

input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
}

input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
}

.glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 200px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}

#username {
    color: var(--sec-clr);
    font-size: 1rem;
}

#gas-price,
#delivery-fee {
    font-size: 1rem;
    font-weight: 700;
    box-shadow: var(--shadow);
    width: 10ch;
    border-radius: 15%;
}

#quick-info {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
#quick-info > div {
    margin: 2rem 0;
    box-shadow: var(--shadow);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#greeting {
    text-align: center;
}

#options {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}
#options small {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 700px) {
    body {
        font-size: 1rem;
    }
    .tabs {
        transform: scale(1);
    }
}
