:root {
    --pry-clr: #0b0a78;
    --sec-clr: #8f0b04;
    --sec-clr2: #e91e63;
    --primary-color: #185ee0;
    --secondary-color: #e6eef9;
    --shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
        0 6px 12px 0 rgba(24, 94, 224, 0.15);
}

* {
    box-sizing: border-box;
}

.pulsate-bck {
    animation: pulsate-bck 1s ease-in-out infinite both;
}

@keyframes pulsate-bck {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

body {
    background: #222;
    padding: 0;
    margin: 0;
    font-family: "DM Serif Text", serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}

header {
    background-color: var(--pry-clr);
    color: white;
    display: flex;
    flex-direction: column;
}

header a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header h1 {
    text-align: center;
}

.section {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    letter-spacing: 4px;
    overflow: hidden;
    clip: rect(0, auto, auto, 0);
}
.section .fixed {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
}
.section .white {
    color: #fff;
}

.section:nth-child(1) {
    background-color: #fff;
    color: #000;
    top: 0;
    z-index: 1;
}
.section:nth-child(1) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(2) {
    box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
    background-color: var(--sec-clr);
    color: #fff;
    top: 100vh;
    z-index: 2;
}
.section:nth-child(2) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(3) {
    box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
    background-color: #0a0ac2;
    color: #fff;
    top: 200vh;
    z-index: 3;
}
.section:nth-child(3) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(4) {
    box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    color: var(--pry-clr);
    top: 300vh;
    z-index: 4;
}
.section:nth-child(4) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(5) {
    box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
    background-color: var(--sec-clr);
    color: #fff;
    top: 400vh;
    z-index: 5;
}
.section:nth-child(5) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(6) {
    box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
    background-color: darkblue;
    color: #fff;
    top: 500vh;
    z-index: 6;
}
.section:nth-child(6) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(7) {
    box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
    background-color: #c20a85;
    color: #fff;
    top: 600vh;
    z-index: 7;
}
.section:nth-child(7) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(8) {
    box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
    background-color: #0ac285;
    color: #fff;
    top: 700vh;
    z-index: 8;
}
.section:nth-child(8) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(9) {
    box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
    background-color: #c20a0a;
    color: #fff;
    top: 800vh;
    z-index: 9;
}
.section:nth-child(9) .fixed {
    transform: translate(-50%, -50%);
}

.section:nth-child(10) {
    background-color: #000;
    color: #fff;
    top: 900vh;
    z-index: 10;
}
.section:nth-child(10) .fixed {
    transform: translate(-50%, -50%);
}

.oop {
    position: relative;
    z-index: auto;
    height: 10px;
    background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}

.product-card {
    font-size: 0.7rem;
}

#scroll-tip {
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
    color: gray;
}

footer {
    position: absolute;
    bottom: 0;
    left: 1%;
    right: 1%;
    font-size: 0.7rem;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: var(--primary-color);
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
button:hover {
    background: var(--pry-clr);
}

body * {
    outline: none;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid var(--sec-clr2);
    background: rgba(233, 30, 99, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: var(--sec-clr2);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--sec-clr2);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--sec-clr2);
    background-color: CanvasText;
    -webkit-clip-path: polygon(
        14% 44%,
        0 65%,
        50% 100%,
        100% 16%,
        80% 0%,
        43% 62%
    );
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform-origin: left top;
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--sec-clr2);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--sec-clr2);
    background-color: CanvasText;
    transform-origin: top bottom;
}
input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="color"] {
    padding: 0;
    border: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    width: 8em;
}
input[type="range"]::-webkit-slider-thumb {
    margin-top: -8px;
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: 0.2em solid var(--sec-clr2);
}
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: 0.2em solid var(--sec-clr2);
}
input[type="range"]::-ms-thumb {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: 0.2em solid var(--sec-clr2);
}
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--sec-clr2);
    width: 100%;
    border-radius: 1vmin;
    height: 0.5em;
}
input[type="range"]::-moz-range-track {
    background: var(--sec-clr2);
    width: 100%;
    border-radius: 1vmin;
    height: 0.5em;
}
input[type="range"]::-ms-track {
    background: var(--sec-clr2);
    width: 100%;
    border-radius: 1vmin;
    height: 0.5em;
}

input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0.2em solid var(--sec-clr2);
    background: rgba(0, 0, 0, 0);
    padding: 0.85em 1.5em;
    color: var(--sec-clr2);
    border-radius: 2em;
    transition: 1s;
}
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active {
    background: var(--sec-clr2);
    color: #fff;
}

input[type="file"] {
    display: none;
}

label[for="file"] {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
    justify-items: center;
    align-content: center;
    color: var(--sec-clr2);
    border: 0.2em solid var(--sec-clr2);
    background: rgba(0, 0, 0, 0);
    padding: 0.85em 1.5em;
    color: var(--sec-clr2);
    border-radius: 2em;
    transition: 1s;
}
label[for="file"]:hover,
label[for="file"]:focus,
label[for="file"]:active {
    background: var(--sec-clr2);
    color: #fff;
}

input[type="date"] {
    border: 0.2em solid var(--sec-clr2);
    padding: 0.8em 0.9em;
    border-radius: 2em;
    color: var(--sec-clr2);
}
input[type="date"]::-webkit-datetime-edit-text {
    color: red;
    padding: 0 0.3em;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E91E63' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E");
}

input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
    background: red;
}
:is(input[type="number"], input[type="text"]):valid {
    background-color: var(--secondary-color);
    color: inherit;
}
