#tabs {
    height: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    margin: 2rem 0;
    cursor: pointer;
}
#tabs h5.active {
    box-shadow: var(--shadow);
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0.7rem;
    cursor: pointer;
}
.active {
    background-color: var(--secondary-color);
    transform: scale(1.2);
}
a {
    text-decoration: none;
    color: var(--sec-clr);
}
