.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: "DM Serif Text", serif;
}
.main {
    width: 350px;
    height: 450px;
}
label {
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
}
input {
    width: 60%;
    height: 10px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}
